/* General styles */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Form styles */
  
  form {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
  }
  
  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Message styles */
  
  #message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  #message.success {
    color: green;
  }
  
  #message.error {
    color: red;
  }
  